# **Tarea Nº 1**

Curso:          Fundamentos de Programación en Python para Macroeconomía y Finanzas     
Profesor:       Victor Fuentes Campos

- Fecha y hora de entrega: Jueves 4 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: Patricia Jacqueline Mendoza Arce-Jakelin Remon Godoy
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

# 1. Git


a. Commit, Push, Pull

Instrucciones:
1. Cada miembro del equipo debe clonar el repo de su tarea en su computadora
1. Luego, en el branch master (`main`), el integrante Nº 1 cambia el nombre del archivo `.ipynb` a `tarea_1.ipynb`
1. Usando GitHub Desktop, el integrante Nº 2 notará que hay cambios en el repo. Por lo tanto, hará el `pull` de la nueva versión del repo. Ahora ambos tiene el archivo con el nombre apropiado en sus computadoras

*Este ejercicio se calificará directamente en GitHub*

b. Merge conflicts (opcional)

1. El integrante Nº 1 abre un branch nuevo `merge_conflict_practice_1`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 2 abre un branch nuevo `merge_conflict_practice_2`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 1 hará un `pull request`
1. El integrante Nº 2 hará el `review` del `pull request`, aceptará los cambios de su compañero y hará `merge` del branch al `master`. ¡Listo, completaste tu primer pull request!
1. El integrante Nº 2 hará un `pull request`
1. El integrante Nº 1 hará el `review` del `pull request` y habrá un `merge conflict` poeque ambos están cambiando la misma línea de código. Ajuste el archivo y complete el `merge``
Cambie de roles y fuerce un `merge conflict` con una sección diferente del archivo `tarea_1.ipynb` (Fecha de entrega, nombre del curso, etc.)
1. Explique muy brevemente porque se generó el `merge conflict`

*Respuesta: ______________________________*

# 2. Variables

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [1]:
monthly_savings = 10
num_months = 12
intro = "Hello! How are you?"

a. Calculate year_savings using monthly_savings and num_months

In [3]:
# Calculate the product of monthly_savings and num_months
year_savings = monthly_savings*num_months
print(year_savings)

120

b. Print the type of year_savings

In [9]:
# What do you think the resulting type will be? Find out by printing out the type of year_savings.

print(type(year_savings))

<class 'int'>

c. Assign sum of intro and intro to doubleintro

In [11]:
# Calculate the sum of intro and intro and store the result in a new variable doubleintro.
doubleintro = intro + intro

d. Print out doubleintro

In [12]:
# Print out doubleintro. Did you expect this?
print(doubleintro)

Hello! How are you?Hello! How are you?

# 3. Lists

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [16]:
import numpy as np
f_list = ["Brazil", np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
text1 = ['My', 'new', 'teacher', 'assistant', 'is', 'so', 'boring.']
p1_list = [ 2 , 3, 4, 5 , 6 ]
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1, 91 ]
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

a. Show the indices of the `np.nan`` values in the `f_list` list. We want to see this output: *The indices 1, 2, 5, 8 have np.nan values*. Hint: Use print function and f-strings to insert the indices values.

In [54]:
# Show indices for np.nan values

nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, float) and np.isnan(value)]

if nan_indices:
    print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")
else:
    print("No np.nan values found in the list.")

The indices 1, 2, 5, 8 have np.nan values.

b. Replicate 4 times the values of the list `p1_list`. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

In [24]:
# Replicates p1_list
print(p1_list*4)

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

c. Print the length of `f_list`. **Hint: Length function**

In [25]:
# Lenngth of f_list
len(f_list)

9

d. Print `My new teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**

In [33]:
# Printing
print(" ".join(text1))

My new teacher assistant is so boring.

e. Using `values1`, print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>

In [40]:
# Printing
print(f"The max value of values1 is {max(values1)} and is located in the {values1.index(max(values1))} index")
print(f"The min value of values1 is {min(values1)} and is located in the {values1.index(min(values1))} index")

The max value of values1 is 91 and is located in the 10 index
The min value of values1 is 0 and is located in the 7 index

f. Get two lists: `given_names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [41]:
# Two lists
given_names = list(map(lambda x: x.split(", ")[1], last_and_name))
last_names = list(map(lambda x: x.split(", ")[0], last_and_name))
print("Given Names:", given_names)
print("Last Names:", last_names)

Given Names: ['CHRISTIAN SANTOS', 'CRISTIAN NASSER', 'ANGELICA KARINA', 'JOSE ROBERTO', 'ABEL FERNANDO', 'MEIR ALVARO', 'JOSELIN ALEXANDRA', 'LEONEL ARTURO', 'JOSE FELIPE', 'AFRANIA', 'BIANCA MARIETTE', 'ADRIAN ANDRE', 'DORKAS YOMIRA JHERMY', 'LADY ALY', 'HECTOR ANDRE', 'GUSTAVO', 'PERSEO MARCELO', 'MIGUEL ALONZO', 'NICOLAS', 'ROCIO GABRIELA', 'JANE CAMILA', 'MARIA ELISA', 'ALEJANDRO', 'KARLINE ROSMELI', 'STEPHY ROSARIO', 'VALERIA CECILIA', 'SEBASTIAN RENATO', 'JUAN CARLOS', 'MARIANA', 'ANDREA BRIZETH', 'ERICK JOSUE', 'JOSUE DANIEL', 'FABIO MANUEL', 'FERNANDA NICOLLE', 'ANGELA ADELINA', 'CESAR DANTE', 'GABRIELA ISABEL', 'ANGEL MAURICIO', 'JUAN DIEGO', 'ARONE', 'PERCY ALBERTH', 'KEVIN ARTURO', 'CESAR ERNESTO', 'CÉSAR AGUSTO', 'DIANA EDITH', 'RODRIGO FRANCO', 'GRETTEL ALEXANDRA', 'ROSA ANGELA', 'DANTE OMAR', 'YAJAIRA ALEXANDRA', 'JORGE ALBERTO', 'ALEXIS']
Last Names: ['CORNEJO SANCHEZ', 'ORELLANA QUISPE', 'MORALES CHOQUEHUANCA', 'GUIMARAY RIBEYRO', 'CAMACHO GAVIDIA', 'TINTAYA ORIHUELA', 'CHAVEZ MARTINEZ', 'FIGUEROA MURO', 'GOMEZ CRIBILLERO', 'PALOMINO SEGUÍN', 'LUZON CUEVA', 'SUAÑA ZEGARRA', 'SOTO POMACHAGUA', 'FIORENTINO MARTINEZ', 'LAMA MAVILA', 'MEZA HINOJO', 'LOZADA MURILLO', 'ZAMBRANO JIMENEZ', 'JACOBS LUQUE', 'VIDAL VIDAL', 'TORRES ANICAMA', 'LOPEZ ESTRADA', 'BOYCO ORAMS', 'DIAZ BERROSPI', 'RIEGA ESCALANTE', 'LEVANO TORRES', 'ESQUIVES BRAVO', 'PEREZ GONZALES', 'OTERO MAGUIÑA', 'CLAVO CAMPOS', 'AGUILAR GARCIA', 'CALDAS VELASQUEZ', 'SALAS NUÑEZ BORJA', 'PIZARRO VILLANES', 'QUILLATUPA MORALES', 'HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'HINOJOSA CAHUANA', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ', 'FLORES CADILLO']

g. (Opcional) Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

In [42]:
# List of those who do not have email
indices_without_email = [i for i, email in enumerate(emails) if not email]
last_names_without_email = map(lambda full_name: full_name.split(',')[0], [last_and_name[i] for i in indices_without_email])
last_names_modified = list(last_names_without_email)
print("Lastnames of students without email:", last_names_modified)

Lastnames of students without email: ['HUANCAYA IDONE', 'CALVO PORTOCARRERO', 'IBAÑEZ ABANTO', 'MELÉNDEZ APONTE', 'CRISTIAN SERRANO', 'ANGLAS GARCÍA', 'ALDAVE ACOSTA', 'NÚÑEZ HUAMÁN', 'OBREGON HUAMAN', 'SOTO PACHERRES', 'INGARUCA RIVERA', 'ROJAS HUAMAN', 'NEYRA SALAS', 'HUERTA ESPINOZA', 'HUANCA MARTINEZ']

# 4.   Tuple

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [95]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

1. Print the first item of the second item of tuple1 object

In [96]:
# Print
print(tuple1[1][0])

10

2. Print the last item of the tuple1 object

In [98]:
# Print
print(tuple1[-1])

(5, 15, 25)

3. Change the value "orange" for "pink grapefruit". Comment the output

In [99]:
# Change value
tuple1 = ("pink grapefruit",) + tuple1[1:]
tuple1 # modify the element orange by pink grapefruit, take in account that tuple isn't available for modifications directa

('pink grapefruit', [10, 20, 30], (5, 15, 25))

4. Print the length of tuple1

In [89]:
# Print
len(tuple1)

3

5. Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

In [91]:
# Sum all elemenets of tuple2
print(tuple2)
# let's use map function to apply sum every sublist of tuple
resultado = tuple(map(sum,tuple2))
print(resultado)

([7, 8], [9, 1], [10, 7])
(15, 10, 17)

6. (Opcional) Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [93]:
# New tuple
print(tuple2)
# let's define a function that execute the division for a specific value (by example, 2)
def divide_by_two(sublist):
    return[elemento / 2 for elemento in sublist]
# let's use map to apply the function every sublist in tuple
tuple3 = tuple(map(divide_by_two, tuple2))
print(tuple3)

([7, 8], [9, 1], [10, 7])
([3.5, 4.0], [4.5, 0.5], [5.0, 3.5])

# 5. Strings

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [57]:
str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [71]:
# Drop duplicated blank spaces
# First, let's apply the split fuction to identify only words 
split1 = str1.split()
# Then, let's compile the words leaving a blank space
split1 = ' '.join(split1)
print(split1)

I am too old

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [78]:
# Number of letters
print(len([char for char in split1 if char.isalpha()]))
#alternative way
print(len(split1.replace(" ", "")))

9
9

3. (Optional) Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

In [94]:
# Number of blank spaces
num_blank = str1.count(' ')
print("Number of blank spaces", num_blank)

Number of blank spaces 85

# 6. NumPy

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [46]:
prueba1 = np.random.randint(0,10,500) ]# crea 500 números enteros aleatorios entre 0 y 10
prueba1

array([8, 0, 0, 6, 9, 8, 9, 5, 3, 8, 2, 2, 7, 2, 9, 6, 5, 4, 6, 4, 7, 1,
       8, 4, 9, 9, 7, 6, 7, 5, 4, 8, 8, 5, 7, 8, 6, 0, 5, 9, 9, 7, 2, 8,
       1, 1, 6, 4, 7, 6, 6, 2, 5, 8, 3, 0, 1, 6, 5, 6, 1, 8, 9, 5, 6, 2,
       8, 8, 1, 1, 9, 3, 0, 9, 0, 0, 8, 0, 7, 8, 1, 1, 9, 5, 1, 7, 5, 3,
       9, 3, 9, 4, 7, 6, 5, 4, 5, 1, 3, 7, 5, 9, 9, 9, 3, 3, 0, 6, 3, 9,
       3, 5, 0, 8, 6, 9, 1, 0, 4, 2, 9, 8, 1, 8, 5, 6, 7, 0, 5, 2, 2, 8,
       5, 9, 5, 6, 3, 0, 3, 8, 2, 0, 9, 7, 8, 0, 5, 6, 7, 7, 2, 6, 7, 3,
       5, 1, 2, 5, 8, 2, 3, 4, 1, 8, 1, 0, 4, 9, 8, 3, 9, 3, 5, 5, 2, 8,
       0, 9, 5, 5, 1, 3, 9, 5, 1, 2, 0, 4, 2, 9, 9, 7, 4, 8, 7, 6, 6, 7,
       6, 6, 7, 9, 0, 7, 9, 9, 4, 9, 1, 3, 7, 7, 1, 5, 9, 8, 3, 3, 1, 8,
       1, 4, 7, 0, 5, 9, 3, 6, 8, 2, 8, 4, 7, 2, 4, 3, 2, 6, 5, 7, 2, 8,
       7, 9, 4, 3, 8, 4, 9, 8, 3, 1, 6, 0, 4, 8, 9, 9, 7, 6, 7, 7, 7, 5,
       6, 1, 5, 2, 8, 1, 8, 7, 4, 4, 3, 7, 6, 7, 1, 2, 3, 4, 2, 4, 3, 4,
       8, 8, 8, 3, 8, 1, 0, 3, 0, 4, 1, 0, 1, 2, 6, 1, 6, 6, 1, 2, 0, 5,
       0, 0, 7, 5, 0, 3, 4, 1, 8, 6, 4, 6, 3, 4, 2, 8, 6, 1, 9, 9, 0, 7,
       9, 8, 1, 0, 0, 3, 0, 6, 5, 1, 6, 3, 4, 5, 0, 2, 4, 1, 0, 8, 0, 0,
       5, 2, 8, 7, 9, 5, 5, 8, 0, 2, 7, 2, 7, 1, 8, 1, 6, 8, 6, 6, 8, 8,
       0, 9, 9, 9, 6, 8, 9, 3, 3, 3, 6, 8, 3, 6, 9, 6, 2, 2, 9, 7, 2, 5,
       3, 8, 6, 2, 7, 0, 9, 6, 0, 2, 8, 9, 4, 1, 8, 4, 1, 0, 6, 4, 2, 8,
       2, 4, 9, 9, 5, 8, 1, 8, 5, 1, 7, 7, 5, 4, 1, 9, 4, 4, 9, 5, 8, 5,
       2, 3, 4, 4, 8, 1, 7, 5, 8, 1, 8, 8, 7, 5, 9, 6, 2, 8, 1, 9, 4, 0,
       8, 2, 4, 7, 8, 7, 8, 4, 6, 5, 6, 1, 1, 5, 6, 0, 4, 5, 6, 9, 8, 5,
       5, 3, 9, 8, 0, 2, 0, 2, 7, 6, 2, 6, 0, 9, 7, 7])

In [50]:
prueba2 = np.arange(50) 
np.random.shuffle(prueba2)
prueba2

array([ 7, 13, 23, 21, 49, 20, 12, 35, 10, 39, 16, 19, 27, 33,  2, 43,  0,
        9, 40, 17, 41, 28,  5,  4,  1, 45,  3, 22, 25, 15, 44, 30,  8,  6,
       31, 48, 46, 42, 29, 34, 18, 14, 36, 24, 37, 38, 32, 47, 11, 26])

a. Find the most frequent value in the prueba1 array?

In [52]:
# Most frequent value
import numpy as np
print(np.argmax(np.bincount(prueba1)))

8

b. Convert the 1D array prueba2 to a 2D array with 5 rows

In [53]:
# Reshape
np.reshape(prueba2, (5,-1))

array([[ 7, 13, 23, 21, 49, 20, 12, 35, 10, 39],
       [16, 19, 27, 33,  2, 43,  0,  9, 40, 17],
       [41, 28,  5,  4,  1, 45,  3, 22, 25, 15],
       [44, 30,  8,  6, 31, 48, 46, 42, 29, 34],
       [18, 14, 36, 24, 37, 38, 32, 47, 11, 26]])